body {
  margin: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 80px; 
    text-align: center; 
    background: #1abc9c; /* green background */
    color: white; 
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #808080; /* Gray background color */
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; 
}

/*Main style*/
/* Column container */
.row { 
    display: flex;
    flex-wrap: wrap;
}

/* Main column */
.main { 
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

/* footer section*/
.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}